@model IEnumerable<ProjetoOdontoClin.Models.modelLogin>

@{
    ViewBag.Title = "listarLogin";
    Layout = "";
}

<h2>listarLogin</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>

            <td>
                @Html.ActionLink("Atualizar", "editarLogin", new { id = item.usuario }) |
                @Html.ActionLink("Excluir", "excluirLogin", new { id = item.usuario }, new { onclick = "return confirm('Deseja realmente excluir?');" })
            </td>


        </tr>
    }









</table>


